<div class="gift">
    <h1>Gift</h1>
            <h2>{{event}}</h2> 
            <p> 
                <span>{{image}}</span>
                <span>{{name}}</span>
                <span>{{price}}</span>
            </p>
            <button class="item-purchased-button" onclick="itemPurchsed('{{event}}')">Item was Purchased</button>
            <button class="add-cart-button" onclick="addToCard('{{event}}')">Add to cart</button>
</div>
<script src="/js/gift.js"></script>